[submodule "Morpher_CGRA_Mapper"]
	path = Morpher_CGRA_Mapper
	url = https://github.com/ecolab-nus/Morpher_CGRA_Mapper.git
[submodule "Morpher_DFG_Generator"]
	path = Morpher_DFG_Generator
	url = https://github.com/ecolab-nus/Morpher_DFG_Generator.git
[submodule "hycube_simulator"]
	path = hycube_simulator
	url = https://github.com/ecolab-nus/hycube_simulator.git
[submodule "Morpher_Scripts"]
	path = Morpher_Scripts
	url = https://github.com/ecolab-nus/Morpher_Scripts.git
